<div *ngIf="personDetails!=null">
    <button (click)="onBack()" class="person-button p-[4px]" mat-raised-button>Volver</button>
    <div class="person-container flex flex-col items-center max-md:px-[12px]">
        <app-image-with-loading class=" image-with-loading"
            [loadClass]="'loading animate-pulse w-[200px] object-cover rounded-[50%]'"
            [class]="'w-[200px] object-cover rounded-[50%]'"
            [image]="'https://image.tmdb.org/t/p/original'+personDetails?.profile_path"
            [error]="'this.src=../../assets/images/movies_icon_background.png'"></app-image-with-loading>
        <div class="flex flex-col items-center justify-start w-[500px] max-md:w-full max-md:px-[12px]">
            <span class="w-full">Nombre:</span>
            <span class="w-full mb-[20px]">{{personDetails?.name}}</span>
            <span class="w-full">Lugar de nacimiento:</span>
            <span class="w-full mb-[20px]">{{personDetails?.place_of_birth}}</span>
            <span class="w-full">Fecha de nacimiento:</span>
            <span class="w-full mb-[20px]">{{personDetails?.birthday |
                date:'dd-MM-yyyy'}}</span>
            <span class="w-full">Biografía:</span>
            <span class="w-full mb-[20px]">{{personDetails?.biography }}</span>
        </div>
    </div>
</div>