.movie-title img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.movie-title figcaption {
    position: absolute;
    text-align: center;
    left: 0;
    top: 320px;
    width: 100%;
    height: 80px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
}

.movie-title a {
    position: absolute;
    top: 10px;
    left: 10px;
}

.overview-container {
    margin: 10px;
}

.movie-title button {
    background-color: white;
    color: black;
    border: none;
    border-radius: 6px;
}

.cast-title {
    text-align: center;
}

.cast-list img {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 12px;
    margin-top: 12px;
    min-height: 202px;
    object-fit: cover;
}