<div *ngIf="creditsMovie!=null">
    <figure class="movie-title">
        <a routerLink="/movies">
            <button class="p-[4px]" mat-raised-button>Volver</button>
        </a>
        <app-image-with-loading class="image-with-loading"
            [loadClass]="'loading animate-pulse w-full h-[50vh] object-cover'" [class]="'w-full h-[50vh] object-cover'"
            [image]="'https://image.tmdb.org/t/p/original'+movieDetails?.backdrop_path"
            [error]="'this.src=https://cdn.icon-icons.com/icons2/2632/PNG/512/movies_icon_159164.png'"></app-image-with-loading>
        <figcaption>{{movieDetails?.original_title}}</figcaption>
    </figure>

    <div class="overview-container">
        <h3>Resumen</h3>
        <p>{{movieDetails.overview}}</p>
    </div>

    <h1 class="cast-title">Cast</h1>
    <div *ngIf="creditsMovie!=null">
        <div class="cast-list container-fluid">
            <div class="row">
                <div class="grid grid-cols-10 gap-4 justify-between max-xl:grid-cols-4 max-md:grid-cols-3">
                    <span *ngFor="let cast of creditsMovie">
                        <app-image-with-loading class="image-with-loading"
                            [loadClass]="'loading animate-pulse min-h-[250px]'"
                            [image]="'https://image.tmdb.org/t/p/w500/'+cast.profile_path"
                            [error]="'this.src=../../assets/images/cast_image.png'">
                        </app-image-with-loading>
                        <p>{{cast.original_name}}</p>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>