<ngb-carousel class="movies-list-carousel" *ngIf="moviesNowPalying!=null">
    <ng-template ngbSlide *ngFor="let movie of moviesNowPalying">
        <a class="movies-link" [routerLink]="'/movie/' + movie.id">
            <div class="movies-background-image">
                <app-image-with-loading class="image-with-loading"
                    [loadClass]="'loading animate-pulse block w-full h-[65vh] object-cover'"
                    [class]="'block w-full h-[65vh] object-cover'"
                    [image]="'https://image.tmdb.org/t/p/original'+movie.backdrop_path"
                    [error]="'this.src=../../assets/images/movies_icon_background.png'">
                </app-image-with-loading>
            </div>
            <div
                class="absolute flex items-center justify-center h-[100%] inset-x-[15%] bottom-0 py-5 text-center text-white">
                <h1 class="uppercase text-[60px]">{{movie.title}}</h1>
            </div>
        </a>
    </ng-template>
</ngb-carousel>
<h1 class="movies-title text-[30px] mt-[10px]">Peliculas de estreno</h1>
<div *ngIf="moviesNowPalying!=null">
    <div class="movies-list mr-[10px] ml-[10px]">
        <div class="grid grid-cols-10 gap-4 justify-between max-xl:grid-cols-4 max-md:grid-cols-3">
            <div class="hover:translate-y-[-20px] duration-200" *ngFor="let movie of moviesNowPalying">
                <a [routerLink]="'/movie/' + movie.id">
                    <app-image-with-loading class="image-with-loading"
                        [loadClass]="'loading animate-pulse min-h-[250px]'"
                        [image]="'https://image.tmdb.org/t/p/w500'+movie.poster_path"
                        [error]="'this.src=../../assets/images/movies_icon_list.png'"></app-image-with-loading>
                    <p>{{movie.title}}</p>
                </a>
            </div>
        </div>
    </div>
</div>

<h1 class="movies-title text-[30px] mt-[10px]">Peliculas populares</h1>
<div *ngIf="moviesNowPalying!=null">
    <div class="movies-list mr-[10px] ml-[10px]">
        <div class="grid grid-cols-10 gap-4 justify-between max-xl:grid-cols-4 max-md:grid-cols-3">
            <div class="hover:translate-y-[-20px] duration-200" *ngFor="let movie of popularMovies">
                <a [routerLink]="'/movie/' + movie.id">
                    <app-image-with-loading class="image-with-loading"
                        [loadClass]="'loading animate-pulse min-h-[250px]'"
                        [image]="'https://image.tmdb.org/t/p/w500'+movie.poster_path"
                        [error]="'this.src=../../assets/images/movies_icon_list.png'">
                    </app-image-with-loading>
                    <p>{{movie.title}}</p>
                </a>
            </div>
        </div>
    </div>
</div>