@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Threater;
    src: url(./assets/fonts/theater.otf);
    font-weight: normal;
}

body {
    font-family: "Threater";
    font-size: 24px;
}

/* Movies List Page*/
.movies-list-carousel .carousel-control-prev,
.movies-list-carousel .carousel-control-next,
.movies-list-carousel .carousel-indicators {
    display: none;
}

.movies-list .loading,
.movies-background-image .loading {
    background-color: rgba(0, 0, 0, 0.5);
}

.movies-list img,
.movies-list .loading {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 12px;
    margin-top: 12px;
}

/* Movies Detail Page*/
.cast-list img {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 12px;
    margin-top: 12px;
    object-fit: cover;
}

.cast-list .loading {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 12px;
    margin-top: 12px;
}

.movie-title .loading,
.cast-list .loading {
    background-color: rgba(0, 0, 0, 0.5);
}